<section class="hero is-primary is-gocon is-bold is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- <h2 class="subtitle"> -->
                <!-- {{ .Site.Params.Date }} -->
                <!-- {{ .Site.Params.Venue }}, -->
                <!-- {{ .Site.Params.City }} -->
            <!-- </h2> -->

            <img class="mascot large" src="/img/mascot-2020.svg" alt="mountie-gopher-mascot">
            <img class="mascot small" src="/img/mascot-2020-small.svg" alt="mountie-gopher-mascot">
        </div>
    </div>
</section>
